@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// $primary-color: #d72323;
$primary-color: #ff5d57;
$white: #f2f3f4;
$muted: #777777;
$dark-gray: #1e2233;
$light-gray: #24273d;

@mixin container {
  width: 75%;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
}
@mixin space-between {
  justify-content: space-between;
  display: flex;
}
@mixin title-h3 {
  color: $primary-color;
  font-size: 20px;
}
@mixin title-h2 {
  color: $white;
  font-size: 28px;
  letter-spacing: 3px;
  margin-top: -10px;
}
@mixin title-hr {
  background-color: $primary-color;
  width: 50px;
  margin: 5px 0px;
  border: 1px solid $primary-color;
}
@mixin flex-container($direction, $justify, $align) {
  display: flex;
  @if $direction == none {
    flex-direction: row;
  } @else {
    flex-direction: $direction;
  }
  @if $justify == none {
    justify-content: start;
  } @else {
    justify-content: $justify;
  }
  @if $align == none {
    align-items: start;
  } @else {
    align-items: $align;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins";
  scroll-behavior: smooth;
}
body {
  background-color: $dark-gray;
}
//header
header {
  padding: 20px 0px;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #1e22339f;
  border-bottom: 1px solid #000;
  .container {
    @include container;
    align-items: center;
    #logo {
      a {
        h2 {
          color: $primary-color;
        }
      }
    }
    nav {
      ul {
        display: flex;
        li {
          margin: 0px 20px;
          a {
            color: $white;
            transition: all 0.2s;
            &:hover {
              color: $primary-color;
            }
          }
          .contact {
            color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px;
            transition: all 0.2s;
            border-radius: 5px;
            &:hover {
              background-color: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
  }
}
// cover
#cover {
  background-image: url("../img/cover-1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  @include flex-container(none, center, center);
  position: relative;
  .dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 0;
  }
  #cover-wrap {
    width: 60%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    img {
      width: 200px;
      -webkit-box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      animation: zoom 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    h1 {
      color: $primary-color;
      letter-spacing: 3px;
    }
    h2 {
      color: $white;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
// ABOUT
#about {
  padding: 50px 0px;
  .container {
    @include container;
    #about-wrap {
      @include space-between;
      align-items: flex-start;
      justify-content: end;
      #about-image {
        -webkit-box-shadow: 1px 2px 18px -3px rgba(0, 0, 0, 0.73);
        box-shadow: 1px 2px 18px -3px rgba(0, 0, 0, 0.73);
        box-sizing: border-box;
        padding: 10px;
        width: 30%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      #about-info {
        padding: 0px 20px;
        box-sizing: border-box;
        width: 60%;
        h3 {
          @include title-h3;
        }
        h2 {
          @include title-h2;
        }
        hr {
          @include title-hr;
        }
        .about-text {
          color: $muted;
          margin: 20px 0px;
        }
        #stats {
          @include space-between;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding: 20px;
          border-radius: 10px;
          border: 1px solid $primary-color;
          .info {
            width: 50%;
            color: $white;
            margin: 5px 0px;
            font-size: 16px;
            span {
              color: #a3a3a3;
            }
          }
        }
        .btn {
          margin-top: 30px;
          a {
            padding: 10px;
            background-color: $primary-color;
            border-radius: 3px;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.2s;
            &:hover {
              background-color: transparent;
              border: 1px solid $primary-color;
            }
            //   margin-top: 100px;
          }
        }
      }
    }
  }
}
#services {
  padding: 50px 0px;
  background-color: $light-gray;
  .container {
    .title {
      width: 100%;
      margin: 0 auto;
    }
    @include container;
    flex-direction: column;
    h3 {
      @include title-h3;
    }
    h2 {
      @include title-h2;
    }
    hr {
      @include title-hr;
    }
    #services-wrap {
      @include space-between;
      margin-top: 30px;
      .service {
        width: 30%;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px;
        border: 1px solid $primary-color;
        h4 {
          font-size: 21px;
          //   text-transform: uppercase;
          letter-spacing: 2px;
          color: $white;
        }
        p {
          color: $muted;
        }
      }
    }
    #stats-wrap {
      margin-top: 30px;
      @include space-between();

      .stat {
        width: 25%;
        P {
          text-align: center;
        }
        .stat-title {
          color: $primary-color;
          font-size: 35px;
          text-transform: uppercase;
        }

        .stat-subtitle {
          font-size: 16px;
          color: $white;
        }
      }
      @for $i from 1 to 5 {
        @if $i % 2 == 0 {
          .stat:nth-child(#{$i}) {
            .stat-title {
              color: #e23c37;
            }
          }
        }
      }
    }
  }
}
#portfolio {
  padding: 50px 0px;
  .container {
    @include container;
    flex-direction: column;
    .title {
      h3 {
        @include title-h3;
      }
      h2 {
        @include title-h2;
      }
      hr {
        @include title-hr();
      }
    }
    #portfolio-wrap {
      width: 100%;
      margin-top: 30px;
      @include space-between();
      .project {
        width: 30%;
        text-align: center;
        transition: all 0.2s;
        img {
          width: 100%;
          transition: all 0.2s;
        }
        h4 {
          color: $white;
        }
        p {
          color: $muted;
        }
        &:hover {
          transform: scale(1.04);
        }
        &:hover img {
          -webkit-box-shadow: 0px 0px 28px -1px rgba(255, 255, 255, 0.45);
          box-shadow: 0px 0px 28px -1px rgba(255, 255, 255, 0.45);
        }
      }
    }
  }
}
#testimonials {
  background-color: $light-gray;
  padding: 50px 0px;
  .container {
    @include container();
    flex-direction: column;
    .title {
      h3 {
        @include title-h3();
      }
      h2 {
        @include title-h2();
      }
      hr {
        @include title-hr();
      }
    }
    #testimonials-wrap {
      @include space-between();
      margin-top: 30px;
      .testimonial {
        width: 45%;
        @include space-between();
        border: 1px solid $primary-color;
        border-radius: 10px;
        img {
          border-radius: 9px 0px 0px 9px;
          margin-left: -0.5px;
          width: 30%;
          height: auto;
        }
        .testimonial-text {
          //   background-color: #fff;
          box-sizing: border-box;
          padding: 15px;
          p {
            color: $white;
          }
          .quote {
            font-size: 30px;
            margin: 0;
            padding: 0;
          }
          span {
            text-align: right;
            color: $muted;
          }
        }
      }
    }
  }
}
#contact {
  // background-color: $light-gray;
  padding: 50px 0px;
  .container {
    @include container;
    flex-direction: column;
    .title {
      h3 {
        @include title-h3;
      }
      h2 {
        @include title-h2;
      }
      hr {
        @include title-hr;
      }
    }
    #contact-wrap {
      @include space-between();
      margin-top: 20px;
      #contact-form {
        width: 50%;
        input,
        textarea,
        .submit {
          width: 100%;
          padding: 10px;
          border: none;
          box-sizing: border-box;
          background-color: $light-gray;
          margin: 5px 0px;
        }
        .submit {
          background-color: $primary-color;
          color: $white;
          transition: all 0.2s;
          &:hover {
            background-color: #e23c37;
            cursor: pointer;
          }
          // width: 104%;
        }
      }
      #contact-info {
        width: 48%;
        background-color: $light-gray;
        @include flex-container(column, space-between, none);
        .contact-text {
          @include space-between;
          box-sizing: border-box;
          margin-top: 50px;
          padding: 20px;
          flex-wrap: wrap;
          p {
            // font-size: 18px;
            width: 50%;
            margin-bottom: 10px;
            text-align: center;
            color: $white;
            i {
              color: $primary-color;
            }
          }
        }

        img {
          width: 100%;
          min-height: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
footer {
  padding: 20px 0px;
  background-color: $light-gray;
  .container {
    @include container;
  }
  #footer-text {
    p {
      color: $white;
    }
  }
  #footer-social {
    display: flex;
    p {
      margin: 0px 10px;
      a {
        color: $primary-color;
      }
    }
  }
}
// RESPONSIVE DESIGN
@media screen and (max-width: 1024px) {
  header {
    .container {
      width: 80%;
    }
  }
  #about {
    .container {
      width: 85%;
    }
  }
  #services {
    .container {
      width: 85%;
      .title {
        width: 90%;
      }
    }
  }
  #portfolio {
    .container {
      width: 85%;
      .title {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  #testimonials {
    .container {
      width: 85%;
    }
    .title {
      width: 90%;
      margin: 0 auto;
    }
  }
  #contact {
    .container {
      width: 85%;
      .title {
        width: 90%;
        margin: 0 auto;
      }
      #contact-wrap {
        #contact-info {
          .contact-text {
            margin-top: 30px;
            // justify-content: space-around;
            p {
              width: 40%;
              font-size: 14px;
            }
          }
          img {
            min-height: 60%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    // position: relative;
    .container {
      flex-direction: column;

      nav {
        margin-top: 20px;
      }
    }
  }
  #cover {
    #cover-wrap {
      width: 80%;
      margin-top: 80px;
      img {
        width: 150px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  #about {
    .container {
      #about-wrap {
        flex-direction: column;
        #about-image {
          width: 50%;
          img {
            width: 100%;
          }
        }
        #about-info {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
  #services {
    .container {
      width: 95%;
      #services-wrap {
        // flex-direction: column;
        .service {
          //   width: 50%;
          margin: 10px auto;
        }
      }
    }
  }
  #portfolio {
    .container {
      #portfolio-wrap {
        flex-wrap: wrap;
        justify-content: center;
        .project {
          width: 45%;
          margin: 10px 15px;
        }
      }
    }
  }
  #testimonials {
    .container {
      #testimonials-wrap {
        .testimonial {
          width: 48%;
          img {
            margin: 0;
            margin-top: -0.5px;
          }
          .testimonial-text {
            padding: 5px 10px;
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #contact {
    .container {
      #contact-wrap {
        #contact-info {
          .contact-text {
            margin-top: 0px;
            flex-direction: column;
            p {
              width: 100%;
              text-align: left;
              // margin: 0;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 426px) {
  header {
    // position: static;
    padding-bottom: 10px;

    .container {
      width: 100%;

      nav {
        width: 100%;
        margin-top: 0px;
        ul {
          flex-direction: column;
          justify-content: left;
          li {
            width: 100%;
            margin: 5px 0px;
            // background-color: #24273d;
            padding: 0px 20px;
            box-sizing: border-box;
          }
          li:last-of-type {
            display: none;
          }
          $colors: "#1e2233", "#24273D";
          $i: 0;
          @each $var in $colors {
            li:nth-child(#{$i}) {
              background-color: $var;
            }
            $i: $i + 1;
          }
        }
      }
    }
  }
  #cover {
    #cover-wrap {
      width: 100%;
      margin-top: 100px;
      img {
        width: 100px;
      }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 15px;
      }
    }
  }
  #about {
    .container {
      width: 95%;
      #about-wrap {
        #about-image {
          width: 60%;
          margin-left: 20%;
          img {
            width: 100%;
          }
        }
        #about-info {
          #stats {
            flex-wrap: wrap;
            .info {
              width: 100%;
            }
          }
        }
      }
    }
  }
  #services {
    .container {
      width: 85%;
      #services-wrap {
        flex-direction: column;
        .service {
          width: 100%;
        }
      }
      #stats-wrap {
        flex-wrap: wrap;
        .stat {
          width: 50%;
          margin-top: 10px;
        }
      }
    }
  }
  #portfolio {
    .container {
      #portfolio-wrap {
        .project {
          width: 100%;
          margin: 10px 0px;
        }
      }
    }
  }
  #testimonials {
    .container {
      #testimonials-wrap {
        flex-direction: column;
        .testimonial {
          width: 100%;
          margin: 10px 0px;
        }
      }
    }
  }
  #contact {
    .container {
      #contact-wrap {
        flex-wrap: wrap;
        // flex-direction: column-reverse;
        #contact-form {
          width: 100%;
        }
        #contact-info {
          width: 100%;
          margin-top: 20px;
          img {
            display: none;
          }
        }
      }
    }
  }
  footer {
    .container {
      width: 90%;
      flex-direction: column-reverse;
      #footer-text {
        p {
          text-align: center;
          margin-top: 10px;
        }
      }
      #footer-social {
        justify-content: center;
      }
    }
  }
}
